@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400..700&display=swap');

:root {
    --color-primary: #27ae60;
    --color-secondary: #EB5757;
    --color-black: #030303 --grey-600: #333333;
    --grey-300: #828282;
    --grey-100: #E0E0E0;
    --grey-0: #F5F5F5;

 
}
